<div class="card">
    <!-- class card header is a known class build in-->
    <div class="card-header">
<!--       presents the title-->       
     {{pageTitle}}
    </div>
       <!-- class for body-->
 <div class="card-body">
      <div class="container-fluid">
               <!-- class for image-->
        <div class="text-center">
          <img src="./assets/images/logo.jpg"
               class="img-responsive center-block"
               style="max-height:300px;padding-bottom:50px" />
        </div>
                 <!-- class for line-->
        <div class="text-center">Developed by:</div>
                      <!-- class for line-->
         <div class="text-center"><h3>Galit Gross</h3></div>
                        <!-- class for line-->
        <div class="text-center">@galitgross</div>
                               <!-- class for line of website-->
     <div class="text-center">
          <a href="https://www.tantratutorials.com/">https://www.tantratutorials.com/</a>
        </div>
      </div>
    </div>
  </div>
